@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for Pizza Lovers";
    // Time since business opened
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018,8,14);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <!-- Embed C# into the HTML using (at symbol), this will show days since business opened
         We can use Convert class because System is imported by ImplicitUsings in the csproj file -->
    <p class="lead">The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>
